<div class="popup d-block" data-popup="add_subadmin">
  <div class="overlay"></div>
  <div class="table_dv">
    <div class="table_cell">
      <div class="contain-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8 col-sm-10">
            <div class="_inner">
              <!-- <button type="button" class="x_btn"></button> -->
              <h4 class="heading mb-5">Add Sub Admins</h4>
              <%= form_for(resource, as: resource_name, :html => {:class => "sub_admin_form"}, url: registration_path(resource_name)) do |f| %>
                <h5 class="mb-5">Personal Data</h5>
                <!-- <hr class="hr"> -->
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">First Name</label>
                  <input type="text" name="admin[first_name]" class="input" placeholder="Input Here" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Last Name</label>
                  <input type="text" name="admin[last_name]" class="input" placeholder="Input Here" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Date of Birth</label>
                  <input type="date" name="admin[date_of_birth]" class="input" placeholder="MM/DD/YY" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Location</label>
                  <input type="text" name="admin[location]" class="input" placeholder="Input Here" required>
                </div>
                <h5 class="mb-5">Personal Data</h5>
                <!-- <hr class="hr"> -->
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Email Address</label>
                  <input type="text" name="admin[email]" class="input" placeholder="@mail.com" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Phone Number</label>
                  <input type="text" name="admin[phone_number]" class="input" placeholder="+123" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Username</label>
                  <input type="text" name="admin[username]" class="input" placeholder="Input Here" required>
                </div>
                <div class="form_blk d-flex align-items-center justify-content-between">
                  <label for="">Temporary Password</label>
                  <input type="text" name="admin[password]" class="input" placeholder="hcihwiy7e" required>
                </div>
                <div class="btn_blk modal_btn">
                  <%= button_to "cancel", "", {class: 'cancel', :onclick => "history.go(0)"}%>
                  <%= f.submit class: "save site_btn", value: 'Submit' %>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
