<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="dash" class="main_side">
    <div id="top_header">
      <h2>Dashboard</h2>
                <!-- <div class="header_side">
                    <div class="form_blk input">
                        <img src="/assets/icon-search.svg" alt="">
                        <input type="text" name="" id="" class="input" placeholder="Search">
                    </div>
                    <button type="button" class="noti_btn input">
                        <img src="/assets/icon-bell.svg" alt="">
                        <span>7</span>
                    </button>
                  </div> -->
    </div>
    <h4 class="mt-5">Users</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">2.3k</div>
            <p>Total Downloads</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">901</div>
            <p>Current Online</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">1.2k</div>
            <p>Total Transactions</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-5">Genders</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">1.2k</div>
            <p>Total Male</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">1.2k</div>
            <p>Total Female</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-5">Subscriptions</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">2.3k</div>
            <p>Total 1 Day Premium</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">901</div>
            <p>Total 3 Day Premium</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">1.2k</div>
            <p>Total 3 Week Premium</p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5">Recent Users</h3>
    <!-- table_section -->
    <div id="table_users">
      <div class="table__blk">
        <table>
          <thead>
            <tr>
              <th style="width: 15rem;">Full Name</th>
              <th style="width: 20rem;">Email</th>
              <th style="width: 15rem;">Phone Number</th>
              <th style="width: 14rem;">Country</th>
              <th style="width: 7rem;">Age</th>
              <th style="width: 11rem;">Sex</th>
              <th style="width: 28rem;">Interest</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold">Dave Chen</td>
              <td>davechen@gmail.com</td>
              <td>+123 456 789</td>
              <td>United States</td>
              <td>22</td>
              <td>Male</td>
              <td class="interest">
                <span>Nature</span>
                <span>Road Trip</span>
                <span>Travel</span>
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Nicola Adler</td>
              <td>nicolaadler@gmail.com</td>
              <td>+123 534 657</td>
              <td>Canada</td>
              <td>23</td>
              <td>Female</td>
              <td class="interest">
                <span>Socializing</span>
                <span>Sports</span>
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Jordyn Madsen</td>
              <td>jorfynmadsen@gmail.com</td>
              <td>+123 645 095</td>
              <td>Canada</td>
              <td>24</td>
              <td>Female</td>
              <td class="interest">
                <span>Collecting</span>
                <span>Gaming</span>
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Erin Donin</td>
              <td>erindonin@gmail.com</td>
              <td>+123 736 185</td>
              <td>Canada</td>
              <td>24</td>
              <td>Female</td>
              <td class="interest">
                <span>Collecting</span>
                <span>Gaming</span>
                <span>Collecting</span>

              </td>
            </tr>
            <tr>
              <td class="fw-bold">Jordyn Madsen</td>
              <td>jorfynmadsen@gmail.com</td>
              <td>+123 645 095</td>
              <td>Canada</td>
              <td>24</td>
              <td>Female</td>
              <td class="interest">
                <span>Collecting</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- pagination_section -->
    <div class="paginate_sec">
      <p>Showing 1 to 9 of 200 entries</p>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page_item disable me-4">
            <a class="page_link" href="#" aria-label="Previous">
              <div class="icon_blk me-2">
                <img src="/assets/left arrow.svg" aria-hidden="true" alt="icon">
              </div>
              Previous
            </a>
          </li>
          <li class="page_no "><a class="" href="#">1</a></li>
          <li class="page_no"><a class="" href="#">2</a></li>
          <li class="page_no"><a class="" href="#">3</a></li>
          <li class="page_item ms-4">
            <a class="page_link fw_600" href="#" aria-label="Previous">
              Next
              <div class="icon_blk ms-2">
                <img src="/assets/right arrow.svg" aria-hidden="true" alt="icon">
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
  <!-- account_section -->


  <!-- Main Js -->
<script src="/assets/main.js"></script>
