.digg_pagination {
  background: white;
  cursor: default;
  display: flex;
  justify-content: space-between;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
    padding: 1.2rem;
  }

  .digg_pagination span{
    border: none;
    border-radius: 1rem;
  }
  .digg_pagination .disabled {
    color: #999999;
 }
  .digg_pagination .current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 1rem;
    margin-right: 0.5rem;
    background: #FF6933;
    color: #FFF;
  }
  .digg_pagination a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 1rem;
    margin-right: 0.5rem;
  }
    .digg_pagination a:hover, .digg_pagination a:focus {
      background-color: #FF6933;
      cursor: pointer;
      color: #000;
      border-color: #000033;

    }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden;
}


.pagination .previous_page{
  padding-left: 2.5rem;
  background-image: url("/assets/left_arrow.svg");
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: center left 1rem;
  line-height: 2.4rem;
}

.pagination .next_page{
  padding-right: 2.5rem;
  background-image: url("/assets/right arrow.svg");
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: center right 1rem;;
}