<section id="logon" style="background-image: url('/assets/Logon.jpg')">
  <div class="contain">
    <div class="log_blk">
      <div class="form_wrapper">
        <div class="logo">
          <img src="/assets/logo-on.svg" alt="">
        </div>
        <h2 class="mb-4">Forgot Password?</h2>
        <h5>Enter your details below</h5>
        <form action="/admins/password/new" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <h6>Email Address</h6>
          <div class="form_blk">
            <input type="text" name="admin[email]" id="customemailfield" class="input" placeholder="Type here">
          </div>
          <p class="error_text">Invalid email address</p>
          <div class="btn_blk pop_btn" data-popup="forget_pass">
            <button class="site_btn w-100" type="button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="popup" data-popup="forget_pass" style="display: block">
    <div class="table_dv overlay">
      <div class="table_cell">
        <div class="contain-fluid">
          <div class="row justify-content-center">
            <div class="col-3">
              <div class="_inner">
                <button type="button" class="x_btn"></button>
                <div class="forget">
                  <img src="/assets/icon-forget-success.svg" alt="">
                </div>
                <p class="fs_5 text-center">Your reset password link has been sent to your email.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function (){
      $(".x_btn").click(function ()
      {
          debugger
          window.location.href = "<%= new_admin_password_path %>"
      })
  })
</script>